<h2 class="danger">Face Dection And Recogniton System</h2>
<p>Version 1.0.0</p>
<p class="bold">Disclaimer:</p>
<p>This is a face detection and recognition system I created for my school project. It is intended for learning and educational purposes only and not for production. Click <a href="https://github.com/adebayoade/fdrs" target="_blank">here</a> to download the complete source codes from the Git repository</p>