<h2>Face Dection And Recogniton System. </h2>
<p>Version 1.0.0</p>
<p class="bold">Disclaimer:</p>
<p>This is a Face Detection and Recognition Web Application I created for my school project. It should be used for educational purposes only and not intended for production. Click <a href="#" target="_blank">here</a> to download the complete source codes from the Git repository</p>